<div class="container-md text-light">
  <main>
    <div class="py-5 text-center">
      <h2>Registration Form</h2>
      <p class="lead">Please fill in the following details to register:</p>
    </div>

    <div class="row g-5 d-flex justify-content-center">
      <div class="col-md-7 col-lg-8">
        <% if @official_data.new_record? %>
          <h4 class="mb-3">Personal Information</h4>
          <%= form_with(model: @official_data, url: official_path, local: true) do |form| %>
            <div class="row g-3">
              <div class="col-12">
                <%= form.label :company, class: "form-label" %>
                <%= form.text_field :company, class: "form-control", placeholder: "Enter your company name" %>
              </div>

              <div class="col-12">
                <%= form.label :role, class: "form-label" %>
                <%= form.text_field :role, class: "form-control", placeholder: "Enter your role" %>
              </div>

              <div class="col-12">
                <%= form.label :employee_id, class: "form-label" %>
                <%= form.text_field :employee_id, class: "form-control", placeholder: "Enter your employee ID" %>
              </div>

              <div class="col-12">
                <%= form.label :employee_mail_id, class: "form-label" %>
                <%= form.text_field :employee_mail_id, class: "form-control", placeholder: "Enter your employee mail ID" %>
              </div>

              <div class="col-md-6">
                <%= form.label :laptop_serial, class: "form-label" %>
                <%= form.text_field :laptop_serial, class: "form-control", placeholder: "Enter laptop serial number" %>
              </div>

              <div class="col-md-6">
                <%= form.label :laptop_model, class: "form-label" %>
                <%= form.text_field :laptop_model, class: "form-control", placeholder: "Enter laptop model" %>
              </div>

              <div class="col-md-6">
                <%= form.label :laptop_brand, class: "form-label" %>
                <%= form.text_field :laptop_brand, class: "form-control", placeholder: "Enter laptop brand" %>
              </div>

              <div class="col-md-6">
                <%= form.label :laptop_mac, class: "form-label" %>
                <%= form.text_field :laptop_mac, class: "form-control", placeholder: "Enter laptop Mac address" %>
              </div>

              <div class="col-12">
                <%= form.label :hoodies, class: "form-label" %>
                <%= form.text_area :hoodies, class: "form-control", placeholder: "Enter your given hoodies" %>
              </div>

              <div class="col-12">
                <%= form.label :experience, class: "form-label" %>
                <%= form.text_area :experience, class: "form-control", rows: 3, placeholder: "Enter your experience" %>
              </div>

              <div class="col-12">
                <%= form.label :account_number, class: "form-label" %>
                <%= form.text_field :account_number, class: "form-control", placeholder: "Enter your bank account number" %>
              </div>

              <div class="col-12">
                <%= form.label :bank_name, class: "form-label" %>
                <%= form.text_field :bank_name, class: "form-control", placeholder: "Enter bank name" %>
              </div>

              <div class="col-12">
                <%= form.label :branch, class: "form-label" %>
                <%= form.text_field :branch, class: "form-control", placeholder: "Enter branch name" %>
              </div>

              <div class="col-12">
                <%= form.label :ifsc_code, class: "form-label" %>
                <%= form.text_field :ifsc_code, class: "form-control", placeholder: "Enter IFSC code" %>
              </div>

              <div class="col-12">
                <%= form.label :account_holder_name, class: "form-label" %>
                <%= form.text_field :account_holder_name, class: "form-control", placeholder: "Enter account holder name as per passbook" %>
              </div>

              <div class="col-12">
                <div class="container text-center">
                  <%= form.submit "Submit", class: "btn btn-success btn-block m-5" %>
                </div>
                <%= link_to "Back", address_path %>
              </div>
            </div>
          <% end %>
        <% else %>

        <% end %>
      </div>
    </div>
  </main>
</div>
