<!-- app/views/employees/index.html.erb -->

<h1>Employees</h1>

<% if @employees.any? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.name %></td>
          <td><%= employee.department %></td>
          <td>
            <%= link_to "View", employee_path(employee) %>
            <%= link_to "Edit", edit_employee_path(employee) %>
            <%= link_to "Delete", employee_path(employee), method: :delete, data: { confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No employees available.</p>
<% end %>

<%= link_to "New Employee", new_employee_path %>
