<h1> Enter the Student Information</h1>
<%= form_for @student do |f| -%>
    <label for="firstName">first_name</label>
    <%= f.text_field :firstname %>
    <label for="lastName">last_name</label>
    <%= f.text_field :lastname %>
    <label for="class">classthey</label>
    <%= f.text_field :class %>
    <label for="email">email</label>
    <%= f.text_field :email %>
    <label for="password">password</label>
    <%= f.text_field :password %>
    <%= f.submit "submit" %>
<% end -%>
<br />
<h1> Display the Student Information</h1>
<%if !@students.blank? %>
    <% for item in @students %>
        <%= item.firstname %> <%= item.last_name %> <%= item.email %> 
    <% end %>
<% else %>
<% end %>
